  

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="questionar">Reponse AR </label>
  <div class="col-sm-7">
    <input class="form-control" name="reponse_ar" value="<%= model.reponse_ar %>" />
  </div>
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="auteur">Reponse FR </label>
  <div class="col-sm-7">
    <input class="form-control" name="reponse_fr" value="<%= model.response_fr %>" />
  </div>
</div>

