<%- include("_header") -%>
<link rel="stylesheet" href="/css/quiz.css">
<div class="container-fluid bg-info" id="container">
    <div class="modal-dialog">
      <div class="modal-content">
                          <div style="text-align:center;clear:both;padding-top:10px">
        
    </div>

         
      
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG" id="rotateG_01"></div>
                  <div class="blockG" id="rotateG_02"></div>
                  <div class="blockG" id="rotateG_03"></div>
                  <div class="blockG" id="rotateG_04"></div>
                  <div class="blockG" id="rotateG_05"></div>
                  <div class="blockG" id="rotateG_06"></div>
                  <div class="blockG" id="rotateG_07"></div>
                  <div class="blockG" id="rotateG_08"></div>
              </div>
 
          </div>
                           
           <div >
<div id="merci" style="text-align:center">
                <h2 id="hmerci">كرا على المشاركة"</h2>
            </div>

            </div>

   </div>
   </div>
   </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




 


<%- include("footer1") -%>
